@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes gradientAnimation {
  0% {
    background-position: 100% 0;
  }
  50% {
    background-position: 0 100%;
  }
  100% {
    background-position: 100% 0;
  }
}

.bg-gradient-to-r {
  background-size: 400% 400%;
  animation: gradientAnimation 5s ease infinite;
}

html {
  scroll-behavior: smooth;
  zoom: 110%;
}